<br><br>
<div id="dashboard-all">
  <div id="header-db-box">
    <h1 id="header-db">Unlimited Playlist Analysis</h1>
  </div>

  <div id="under-header-box">
    <p id="under-header-db">GURENTEED ACCURACY FOR THE MUSIC LOVERS</p>
  </div><br><br>
  <div id="filler-db">
  </div>
  <div class="show-stage">
  </div>
</div>