<br><br>
<center>
<div id="dashboard-all">
  <div id="header-db-box">
    <h1 id="header-db">Unlimited Playlist Analysis</h1>
  </div>

  <div id="under-header-box">
    <p id="under-header-db">GURENTEED ACCURACY FOR THE MUSIC LOVERS</p>
  </div><br><br></center>
  <div id="filler-db">
  </div>
  <div class="show-stage">
    <div class="show-stage-inner">
      <center>
        <div id="default-page">
          <br><br>
          <p class="genre">Pop</p>
          <p class="genre">Rock</p>
          <p class="genre">Techno</p>
          <p class="genre">Hip-Hop</p>
          <p class="genre">House</p>
          <p class="genre">Minimal</p>
          <p class="genre">Reggae</p>
          <p class="genre">Dubstep</p>
          <p class="genre">Glich Hop</p>
          <p class="genre">Hard Dance</p>
          <p class="genre">Trance</p>
        </div>
      </center>
    </div>
  </div>
</div>

