<br><br><br>
<center>
  <%= form_tag(result_path,:method => "get", :remote => true,:class => "search-form") do %>
    <%= text_field_tag 'Search',nil,placeholder: 'Search query here',id:'search-field' %>
    <br>

    <%= submit_tag 'Search', {id: "search-btn"} %>
  <% end %>

</center>


<div id="search-results-area">
</div>


<script type="text/javascript">
      $('#search-btn').on('click',function(){
        console.log("hi");
        $('.search-form').hide(1000);
      });
</script>