<div id="fullpage">
    <!-- this is a first section -->
    <div class="section logo-main-section" data-anchor="slide1">
      <img src="/assets/pllogo.png" class="img-responsive" alt="big logo" id="logo-img-main">
      <div id="short-cut-btn">
        <a href="#fourthPage" class="toSlide page-scroll su-short-cut" data-index="sign-up-slide">
          <img src="/assets/down-arrow.png">
        </a>
      </div>
    </div>

    <div class="section how-main-section" data-anchor="slide2">HOW IT WORKS</div>
    <div class="section cool-main-section" data-anchor="slide3">COOL INFO</div>
    <div class="section" data-anchor="sign-up-slide" data-anchor="slide4">SIGN UP</div>
</div>
