/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter/bootstrap
 *= require bootstrap.min

 *= require_tree .
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/glyphicons-halflings-regular.woff') format('woff'),
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


body {
}
/* Navigation */
#nav-logo {
  margin-top: -7px;
  width: 60px;
  height: auto;
}

#login-btn {
  width: auto;
  height: 20px;
  font-size: 8px;
  padding: 0px 5px 10px 5px;
  border:2px solid #ff2d81;
  color:#f6f6f6;
  background-color: #ff2d81;
}

#login-btn:hover {
  color:white;

}

.navbar-cust {
  z-index: 100000;
  position: absolute;
}
/**/

/* Main Page Sections */

.logo-main-section{
  margin-top: -0.0em;
  background-color: #DBDBDB;

}

.cool-main-section {
  position: relative;
  z-index: -10;
}

#logo-img-main{

}

.su-short-cut {

}

#short-cut-btn {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  margin-top: -30%;
  opacity: 0.7;
}

#short-cut-btn a {
  color: black;
}

#sign-up-btn {
  font-size: 11px;
}

.how-main-section{
  background-image: url('worn_dots.png');
  /*background-repeat: repeat-y;*/
}

#slide2{
  background-color: #4bbfc3;
}

.signup-main-section {
}

#cust {
  width: 100%;
  height: 100%;
  background-image: url('shatter.png');
  background-repeat:repeat;
}

#sign-up-box {
  border-radius: 10%;
  margin: 0 auto 0 auto;
  width: 250px;
  height: 300px;
  z-index: 10000000000000;
  background-color: white;
  opacity: 0.8;
}

.placeholder-box {
  height: 150px;
}

#sign-up-form {
  margin: 0 auto;
  padding-right: 5%;
  padding-left: 5%;
}


/* DashBoard Page */
.navbar-lower {
  margin-top: 50px;
  background-color: #EDEDED;
  height: 50px;
}



/**/

/*this is for results*/
#results-container {
  overflow: auto;
  height: 500px;
}
/**/