/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter/bootstrap
 *= require bootstrap.min

 *= require_tree .
 */
nav {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/glyphicons-halflings-regular.woff') format('woff'),
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


body {
  width: 100%;
  height: 100%;
}
/* Navigation */
#nav-logo {
  margin-top: -7px;
  width: 60px;
  height: auto;
}

#login-btn {
  width: 45px;
  height: 20px;
  font-size: 8px;
  padding: 0px 5px 0px 5px;
  border:2px solid #ff2d81;
  color:#f6f6f6;
  background-color: #ff2d81;
}

#login-btn:hover {
  color:white;

}

.navbar-cust {
  z-index: 100000;
  position: absolute;
  margin-bottom: 0px;
}
/**/

/* Main Page Sections */

.logo-main-section{
    background: url('bgband.jpg') no-repeat center center fixed;
  background-size: cover;

}

.cool-main-section {
  position: relative;
  z-index: -10;
}

#logo-img-main{
  margin: 0 auto;
}

.sign-up-sc {
   padding: 20px;
}

#sc-btn{
  width: 45px;
  height: 20px;
  font-size: 8px;
  padding: 0px 5px 0px 5px;
  border:2px solid #ff2d81;
  color:#f6f6f6;
  background-color: #ff2d81;
}

#short-cut-btn {
  transition: opacity 0.5s ease;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  opacity: 0.7;
  float:middle;
}

#short-cut-btn:hover {
 opacity: 1;
}

#short-cut-btn a {
  color: gray;
  border-color: red;
}

#sign-up-btn {
  font-size: 11px;
}

.how-main-section{
  background-image: url('worn_dots.png');
  /*background-repeat: repeat-y;*/
}

#slide2{
  background-color: #4bbfc3;
}



#cust {
  width: 100%;
  height: 100%;
  background-image: url('shatter.png');
  background-repeat:repeat;
}

#sign-up-box {
  border-radius: 10%;
  margin: 0 auto 0 auto;
  width: 250px;
  height: 300px;
  z-index: 10000000000000;
  background-color: white;
  opacity: 0.8;
}


.placeholder-box {
  height: 150px;
}

#sign-up-form {
  margin: 0 auto;
  padding: 0 10%;
}


#phrase {
  margin: 0 auto;
  /*background-color: red;*/
  width: 500px;
}

#phrase p {
  color:white;
  font-size: 1.5em;
}

#signup-btn {

}











/* DashBoard Page */
.navbar-lower {
  /*margin-top: 50px;*/
  background-color: white;
  height: 50px;
  opacity: 0.3;
  z-index: 1;
}



/**/




/*this is for dashboard index*/
#dashboard-all {
  width: 100%;
  height: 100%;

}

#full {
  background: url('bgdash2.jpg') no-repeat center center fixed;
  background-size: cover;
}

#header-db-box {
  width: 50%;
  /*background-color: red;*/
  margin: 0 auto;
}

#header-db {
  font-family: 'Merriweather', serif;
  color:white;
  font-weight: lighter;
}

#under-header-box{
  width: 50%;
  margin: 0 auto;
}

#under-header-db {
  font-family: 'Montserrat', sans-serif;
  font-size: 120%;
  color: white;
  font-weight: lighter;
  letter-spacing: 4px;
  line-height: 140%;

}

.show-stage {
  background-color: white;
  width: 100%;
  height: 500px;
  border-bottom: 1px solid gray;
  opacity: 0.9;
  overflow-y:auto;
}

#test1 {
  padding-top: 2px;
  height: 48px;
  float: left;
  margin-right: 8px;
  z-index: 100000000;
}

#test1 img{
  width: 50px;
  height: auto;
}

#test1 li a {
  height: 500%;
}


#test2 img{
  width: 50px;
  height: auto;
}

#test3 img{
  width: 50px;
  height: auto;
}

#test2 {
  padding-top: 2px;
  height: 48px;
  float: left;

  margin-right: 8px;
  z-index: 100000000;

}
#test3 {
  padding-top: 2px;
  float: left;
  height: 48px;

  margin-right: 8px;
  z-index: 100000000;
}

#sign-out-btn img{
  width: 45px;
  height: 45px;
  margin-top: 5px;
}
/**/

/* Search Area*/
.search-form {
  width: 54%;
  height: 200px;
}

#search-field {
  width: 100%;
  height: 100px;
}

.search-form input[type="text"]
{
    font-size:40px;
}

#search-btn {
  font-family: 'Montserrat', sans-serif;
  color:white;
  width: 100%;
  background-color: #D91C5B;
  border-radius: 3%;
  border: none;
}

/**/


/*this is for results*/
#results-container {
  overflow: auto;
  height: 500px;
  padding-bottom: 20%;
}
/**/


/* Pagination */

.pagination {

}

.page {
    display: inline-block;
    padding: 0px 9px;
    margin-right: 4px;
    border-radius: 3px;
    border: solid 1px #c0c0c0;
    background: #e9e9e9;
    box-shadow: inset 0px 1px 0px rgba(255,255,255, .8), 0px 1px 3px rgba(0,0,0, .1);
    font-size: .875em;
    font-weight: bold;
    text-decoration: none;
    color: #717171;
    text-shadow: 0px 1px 0px rgba(255,255,255, 1);
}

.page:hover, .page.gradient:hover {
    background: #fefefe;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#f0f0f0));
    background: -moz-linear-gradient(0% 0% 270deg,#FEFEFE, #f0f0f0);
}

.page.active {
    border: none;
    background: #616161;
    box-shadow: inset 0px 0px 8px rgba(0,0,0, .5), 0px 1px 0px rgba(255,255,255, .8);
    color: #f0f0f0;
    text-shadow: 0px 0px 3px rgba(0,0,0, .5);
}

.page.gradient {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f8f8f8), to(#e9e9e9));
    background: -moz-linear-gradient(0% 0% 270deg,#f8f8f8, #e9e9e9);
}


/**/